---
import "../styles/global.css";

import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6 text-4xl no-underline">Hola!</h1>
    <p class="mb-4">
      Murli is an IT professional with strong experience in the area of software
      design & development. He has experience working as an Architect over 16+
      years of experience working in Technology Consulting & Architect
      specialised in Insurance, Public Health & Social Domain, ICT Solutions &
      Usability Engineering. Currently working as Sr. Solution Architect (I) at
      CitiusTech deeply passionate about creating loved and trusted products
      that help people navigate their careers and achieve their career goals.
    </p>
    <!-- <SocialList /> -->
  </section>
</PageLayout>
